* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global color variables */
:root {
    --backgroundColor: #eee;
    --backgroundColorNav: #eeeeee2c;
    --chatBg: rgb(220, 220, 220);
    --textColor: rgb(16, 16, 16);
    --cardBackground: white;
    --accentColor: salmon;
    --uploaderModal: rgba(255, 255, 255, 0.984);
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: auto;
    font-family: "Poppins", sans-serif;
    transition: background 0.7s linear;
}

/* dark theme colors */
body.dark {
    --backgroundColor: rgb(16, 16, 16);
    --backgroundColorNav: rgb(16, 16, 16, 0.2);
    --chatBg: rgb(31, 31, 31);
    --textColor: #eee;
    --cardBackground: rgb(64, 64, 64);
    --uploaderModal: rgba(34, 34, 34, 0.944);
}

.main {
    margin: auto;
    width: 95%;
}

.error {
    color: red !important;
}

/* ----------- WELCOME PAGE ----------- */

.welcome-page {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-box {
    width: 98%;
    height: 96%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://rihanbucket.s3.amazonaws.com/creatorsbook/8.jpg");
    filter: saturate(70%);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-box .logo-svg {
    width: 80%;
    margin-bottom: 20px;
    fill: #eee;
}

.welcome-box h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 10px 0 20px;
    color: #eee !important;
}

@media (max-width: 768px) {
    .welcome-page {
        margin: auto;
        width: 95%;
        padding: 10px 0;
        height: unset;
    }
    .welcome-box h3 {
        margin: 10px 0 5px;
        width: 90%;
        text-align: start;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .welcome-box .logo-svg {
        margin-top: 25px;
        width: 90%;
    }

    .welcome-box {
        width: 100%;
        height: 95%;
    }
}
