* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global color variables */
:root {
    --backgroundColor: #eee;
    --chatBg: rgb(220, 220, 220);
    --textColor: rgb(16, 16, 16);
    --cardBackground: white;
    --accentColor: salmon;
    --uploaderModal: rgba(255, 255, 255, 0.984);
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: auto;
    font-family: "Poppins", sans-serif;
}
/* dark theme colors */
@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: rgb(18, 18, 18);
        --chatBg: rgb(31, 31, 31);
        --textColor: #eee;
        --cardBackground: rgb(64, 64, 64);
        --uploaderModal: rgba(34, 34, 34, 0.944);
    }
}

.error {
    color: red;
}

.welcome-page {
    margin: auto;
    width: 95%;
}

.welcome-box {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.welcome-box .logo-svg {
    width: 70%;
    margin-bottom: 40px;
    fill: var(--textColor);
}

.welcome-box h3 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 70px;
}

.possible-collabs h3 {
    margin: auto;
    width: 95%;
    padding: 15px 0;
}
