.creators-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    row-gap: 1.5rem;
    margin-bottom: 1%;
}

.creators-container .creator-card {
    width: 15%;
    /* aspect-ratio: 1/1; */
    /* background-color: rgba(255, 255, 255); */
    background-color: var(--cardBackground);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.creators-container .creator-card:hover {
    border: solid 1px var(--textColor);
}

.creator-img-container {
    margin: 10px auto;
    width: 90%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
}
.creators-container .creator-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.creator-card .creator-name {
    display: block;
    margin: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    position: relative;
    font-size: 0.95rem;
}

.possible-collabs {
    margin-top: 80px;
}

.possible-collabs h3 {
    margin: auto;
    width: 100%;
    padding: 15px 0;
    font-weight: 500;
}

.creator-name .online-badge {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(3, 167, 3);
    position: absolute;
    bottom: 8px;
    right: 8px;
}

@media (max-width: 768px) {
    .creators-container {
        width: 95%;
        margin-bottom: 2%;
    }
    .creators-container .creator-card {
        width: 49%;
    }
    .creators-container {
        margin-top: 20px;
    }
    .creator-card .creator-name {
        font-size: 0.9rem;
    }
    .possible-collabs h3 {
        margin: auto;
        width: 95%;
        padding: 5px 0;
    }
}
