.profileModal {
    background-color: var(--cardBackground);
    border-radius: 15px;
    position: absolute;
    width: 400px;
    top: 150px;
    right: 2.5%;
    padding: 15px 30px;
}

.profileModal h4 {
    font-size: 1.5rem;
    margin-bottom: 18px;
    font-weight: 500;
}

.profile-picture-uploader {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}

.profile-picture-uploader img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-picture-uploader span {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.profileModal img {
    /* width: 100%; */
    border-radius: 10px;
}
.profileModal p {
    margin: 10px auto;
}

.modal-uploader {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(255, 255, 255, 0.829);
}

.modal-uploader input {
    height: 35px;
    background: none;
    border-radius: 20px;
    border: solid 1px black;
    color: black;
}

.modal-uploader .upload-file {
    width: 100%;
    background: none;
    position: relative;
    padding-left: 35%;
    padding-top: 10px;
    color: gray;
    font-size: 0.8rem;
}

.upload-pp-btn {
    background-color: aqua;
    top: 280px;
}

.upload-txt {
    height: 20px;
    background-color: aqua;
    color: red;
    z-index: 999;
}

.modal-uploader .upload-btn {
    margin-top: 10px;
    width: 100%;
    background: none;
    position: relative;
    border-radius: 20px;
    padding-top: 4px;
    color: black;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.modal-uploader .upload-btn:hover {
    color: white;
    background-color: black;
}

.modal-uploader .upload-file::-webkit-file-upload-button {
    height: 25px;
    width: 90px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    transition: 0.2s ease-in-out;
}

.modal-uploader .upload-file::-webkit-file-upload-button:hover {
    color: white;
    background-color: black;
}

.modal-uploader p {
    margin: 0px auto;
    margin-bottom: 10px;
    color: black;
}

/*  close icon */
.profileModal span {
    /* width: 30px;
    height: 30px; */
    font-size: 1.2rem;
    /* color: var(--textColor); */
    position: absolute;
    top: 15px;
    padding: 2px;
    right: 15px;
    cursor: pointer;
    user-select: none;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.profileModal .edit-icon {
    top: unset;
    right: 5px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.549);
    color: black;
    font-size: 1rem;
}

.profileModal span:hover {
    color: var(--accentColor);
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" -25, "opsz" 48;
}

/* -------------------------------- BIO Editor ---------------------------------------- */

.bio-container .bio-btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--textColor);
    padding: 2px 10px;
    border-radius: 5px;
    color: var(--backgroundColor);
    font-size: 0.9rem;
    transition: 0.2s ease-in-out;
}

.bio-container .bio-btn:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.bio-container textarea {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: none;
    background: none;
    border: solid 1px var(--textColor);
    padding: 10px;
    color: var(--textColor);
}

/* ---------- Logout btn ---------- */
.logout-btn {
    background-color: var(--textColor);
    width: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: var(--backgroundColor);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn div:first-child {
    margin-right: 10px;
}

.logout-btn:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.loading-spinner-profile {
    height: 0;
    position: absolute;
    top: 230px;
    left: 190px;
    color: var(--accentColor);
}

.profile-pic-error {
    color: red;
    position: absolute;
    top: 450px;
    left: 74px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    font-weight: 300;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .profileModal {
        position: fixed;
        width: 90%;
        top: 150px;
        right: 5%;
    }
}
