.canvas-container {
    margin: auto;
    height: 600px;
    width: 50%;
}

.react-canvas {
    border: none !important;
}

#react-canvas {
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 20px !important;
    cursor: crosshair;
}

@media (max-width: 768px) {
    .canvas-container {
        margin: auto;
        width: 95vw;
        height: 60vh;
    }
}
