.modal-background {
    position: fixed;
    background-color: rgba(10, 10, 10, 0.85);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
}

.creator-modal {
    margin: auto;
    width: 400px;
    background-color: var(--cardBackground);
    border-radius: 15px;
    padding: 15px;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
}
.creator-modal-img-container {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.creator-modal img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.creator-modal .creator-bio {
    font-weight: 300;
    font-size: 0.9rem;
}

.creator-modal-img-container span {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 12px;
    user-select: none;
    background-color: var(--backgroundColor);
    border-radius: 5px;
}
.creator-modal-img-container span:hover {
    color: var(--accentColor);
}

@media (max-width: 768px) {
    .creator-modal {
        width: 90%;
        top: 80px;
    }
}
