.demo-users-container {
    width: 100%;
}

.demo-users-container h4 {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    font-weight: 300;
    color: white;
}

.demo-users {
    margin: auto;
    margin-top: 15px;
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
}

.demo-login-card {
    width: 100px;
    aspect-ratio: 1/0.7;
    background-color: rgba(255, 255, 255, 0.564);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-login-card:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.demo-login-card .demo-name {
    display: block;
    color: black;
    margin: 7px;
    padding-bottom: 5px;
    font-weight: 600;
    position: relative;
    font-size: 0.95rem;
}

@media (max-width: 768px) {
    .demo-users-container h4 {
        width: 88%;
    }

    .demo-users {
        width: 88%;
        margin-bottom: 25px;
    }
}
