.footer-container {
    margin-top: 30px;
    width: 100%;
    background-color: var(--cardBackground);
}

.footer {
    margin: auto;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.footer p {
    text-align: center;
    font-size: 0.75rem;
    user-select: none;
    color: var(--textColor);
}

@media (max-width: 768px) {
    .footer p {
        margin: auto;
        width: 75%;
        font-size: 0.7rem;
    }
    .footer {
        margin: auto;
        width: 100%;
        height: 50px;
        line-height: 20px;
        padding: 5px;
    }
}
