* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global color variables */
:root {
    --backgroundColor: #eee;
    --chatBg: rgb(220, 220, 220);
    --textColor: rgb(16, 16, 16);
    --cardBackground: white;
    --accentColor: salmon;
    --uploaderModal: rgba(255, 255, 255, 0.984);
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: auto;
    font-family: "Poppins", sans-serif;
}
/* dark theme colors */
@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: rgb(18, 18, 18);
        --chatBg: rgb(31, 31, 31);
        --textColor: #eee;
        --cardBackground: rgb(64, 64, 64);
        --uploaderModal: rgba(34, 34, 34, 0.944);
    }
}

.error {
    color: red;
}

.welcome-page {
    margin: auto;
    width: 95%;
}

.welcome-box {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.welcome-box .logo-svg {
    width: 70%;
    margin-bottom: 40px;
    fill: var(--textColor);
}

.welcome-box h3 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 70px;
}

.possible-collabs h3 {
    margin: auto;
    width: 95%;
    padding: 15px 0;
}

.signup-signin-components {
    margin: auto;
    width: 75%;
}

.signup-signin-components h2 {
    font-size: 1rem;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 7px;
}

.signup-signin-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.signup-signin-form input {
    border: solid 0.5px var(--textColor);
    font-size: 1rem;
    padding-left: 5px;
    width: 24%;
    height: 35px;
    margin: 5px;
    background: none;
    color: var(--textColor);
    border-radius: 30px;
    padding-left: 15px;
}

.signup-signin-form input:nth-child(5) {
    margin-top: 20px;
    background-color: grey;
    color: var(--textColor);
    cursor: pointer;
    padding-left: unset;
    transition: all 0.2s ease-in;
}

.signup-signin-form input:nth-child(5):hover {
    background-color: var(--textColor);
    color: var(--backgroundColor);
}

.signup-signin-form span {
    margin: 5px;
    margin-top: 25px;
}
.signup-signin-form span a {
    margin: 10px;
    color: var(--textColor);
}

.login input:nth-child(3) {
    /* margin-top: 20px; */
    background-color: grey;
    color: var(--textColor);
    cursor: pointer;
    padding-left: unset;
    transition: all 0.2s ease-in;
}

.login input:nth-child(3):hover {
    background-color: var(--textColor);
    color: var(--backgroundColor);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
}

.nav-bar .logo-svg {
    margin: 20px;
    width: 22vh;
    min-width: 150px;
    fill: var(--textColor);
    cursor: pointer;
}

.nav-bar .logo-svg:hover {
    fill: var(--accentColor);
}

.nav-bar .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--textColor);
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.nav-bar .nav-link:hover {
    color: var(--accentColor);
}

.nav-bar .profile-picture {
    margin-top: 5px;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav-bar .profile-picture:hover {
    border: solid 2px var(--textColor);
}

.nav-bar .profile-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav-bar .active {
    color: var(--accentColor);
}

.profileModal {
    background-color: var(--cardBackground);
    border-radius: 15px;
    position: absolute;
    width: 400px;
    top: 120px;
    left: 35px;
    padding: 15px 30px;
}

.profileModal h4 {
    font-size: 1.5rem;
    margin-bottom: 18px;
    font-weight: 500;
}

.profile-picture-uploader {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}

.profile-picture-uploader img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-picture-uploader span {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.profileModal img {
    /* width: 100%; */
    border-radius: 10px;
}
.profileModal p {
    margin: 10px auto;
}

.modal-uploader {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(255, 255, 255, 0.829);
}

.modal-uploader input {
    height: 35px;
    background: none;
    border-radius: 20px;
    border: solid 1px black;
    color: black;
}

.modal-uploader .upload-file {
    width: 100%;
    background: none;
    position: relative;
    padding-left: 35%;
    padding-top: 10px;
    color: gray;
    font-size: 0.8rem;
}

.modal-uploader .upload-btn {
    margin-top: 10px;
    width: 100%;
    background: none;
    position: relative;
    border-radius: 20px;
    padding-top: 4px;
    color: black;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.modal-uploader .upload-btn:hover {
    color: white;
    background-color: black;
}

.modal-uploader .upload-file::-webkit-file-upload-button {
    height: 25px;
    width: 90px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    transition: 0.2s ease-in-out;
}

.modal-uploader .upload-file::-webkit-file-upload-button:hover {
    color: white;
    background-color: black;
}

.modal-uploader p {
    margin: 0px auto;
    margin-bottom: 10px;
    color: black;
}

/*  close icon */
.profileModal span {
    /* width: 30px;
    height: 30px; */
    font-size: 1.2rem;
    /* color: var(--textColor); */
    position: absolute;
    top: 15px;
    padding: 2px;
    right: 15px;
    cursor: pointer;
    user-select: none;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.profileModal .edit-icon {
    top: unset;
    right: 5px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.549);
    color: black;
}

.profileModal span:hover {
    color: var(--accentColor);
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" -25, "opsz" 48;
}

/* -------------------------------- BIO Editor ---------------------------------------- */

.bio-container .bio-btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--textColor);
    padding: 2px 10px;
    border-radius: 5px;
    color: var(--backgroundColor);
    font-size: 0.9rem;
    transition: 0.2s ease-in-out;
}

.bio-container .bio-btn:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.bio-container textarea {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: none;
    background: none;
    border: solid 1px var(--textColor);
    padding: 10px;
    color: var(--textColor);
}

/* ---------- Logout btn ---------- */
.logout-btn {
    background-color: var(--textColor);
    width: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: var(--backgroundColor);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn div:first-child {
    margin-right: 10px;
}

.logout-btn:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.loading-spinner-profile {
    height: 0;
    position: absolute;
    top: 230px;
    left: 190px;
    color: var(--accentColor);
}

.profile-pic-error {
    color: red;
    position: absolute;
    top: 450px;
    left: 74px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    font-weight: 300;
    font-size: 1.2rem;
}

.search-area {
    margin: 40px auto;
    width: 65%;
    height: 45px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-area input {
    width: 78%;
    border: none;
    height: 30px;
    font-size: 1rem;
}

.search-area input:focus {
    border: none;
    outline: none;
}

.search-area button {
    background-color: unset;
    border: none;
    cursor: pointer;
}
.search-area button img {
    height: 35px;
    margin-top: 4px;
}

.creators-container {
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    row-gap: 1.5rem;
    margin-bottom: 5%;
}

.creators-container .creator-card {
    width: 15%;
    /* aspect-ratio: 1/1; */
    /* background-color: rgba(255, 255, 255); */
    background-color: var(--cardBackground);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.creators-container .creator-card:hover {
    border: solid 1px var(--textColor);
}

.creator-img-container {
    margin: 10px auto;
    width: 90%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
}
.creators-container .creator-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.creator-card .creator-name {
    display: block;
    margin: 10px;
    padding-bottom: 5px;
    font-weight: 400;
}

.modal-background {
    position: fixed;
    background-color: rgba(10, 10, 10, 0.85);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
}

.creator-modal {
    margin: auto;
    width: 400px;
    background-color: var(--cardBackground);
    border-radius: 15px;
    padding: 15px;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
}
.creator-modal-img-container {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.creator-modal img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.creator-modal .creator-bio {
    font-weight: 300;
    font-size: 0.9rem;
}

.creator-modal-img-container span {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 12px;
    user-select: none;
    background-color: var(--backgroundColor);
    border-radius: 5px;
}
.creator-modal-img-container span:hover {
    color: var(--accentColor);
}

.collab-btn {
    margin-top: 10px;
    width: 100%;
    margin: 10px auto;

    height: 35px;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--textColor);
    color: var(--backgroundColor);
}

.collab-btn.small {
    width: 90%;
    font-size: 0.85rem;
}

.collab-btn span {
    margin-right: 7px;
}

.collab-btn:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.chat-main-container {
    width: 50%;
    margin: 20px auto;
}

.msgs-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    height: 70vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--chatBg);
    border-radius: 20px;
}

.msg-card {
    width: 95%;
    border-radius: 15px;
    margin: 5px;
}
.msg-card {
    /* height: 70px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.msg-card-reversed {
    flex-direction: row-reverse;
}

.msg-card .chat-profile-pic {
    /* height: 100%; */
    /* width: 11%; */
    height: 70px;
    overflow: hidden;

    margin: 10px;
}
.msg-card .chat-profile-pic img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
}

.msg-card .chat-name-msg {
    max-width: 65%;
    min-height: 80%;
    background-color: rgb(200, 200, 200);
    padding: 10px 18px;
    border-radius: 20px;
}

.msg-card .user-chat-bg {
    background-color: rgb(149, 149, 149);
}

.empty-dev {
    width: 11%;
    height: 100%;
}

.msg-card .message-txt {
    color: black;
    word-wrap: break-word;
}

.msg-card .chat-name-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.msg-card .chat-name-time p {
    margin-right: 15px;
    font-weight: 700;
    color: black;
}

.msg-card .chat-name-time span {
    font-size: 0.8rem;
    color: rgb(67, 67, 67);
}

.text-area-container {
    width: 100%;
    height: 100px;
    /* background-color: var(--textColor); */
    border-radius: 20px;
    margin-top: 10px;
}
.text-area-container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.text-area-container textarea {
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
    width: 87%;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    border: none;
    resize: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.text-area-container button {
    margin-top: 10px;
    width: 11%;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: rgb(72, 72, 72);
    color: white;
    font-size: 1rem;
}

.text-area-container button:hover {
    background-color: white;
    color: black;
}

/* --------------- images uploading area ----------------- */
.img-upload-container {
    margin: 30px auto;
    width: 35%;
    aspect-ratio: 1/0.6;
    max-height: 350px;
    transition: all 0.6s ease-in-out;
    background-color: var(--uploaderModal);
    position: fixed;
    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-upload-container form {
    margin: 30px auto;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.img-upload-container form input {
    width: 85%;
    height: 35px;
    background: var(--backgroundColor);
    border-radius: 20px;
    border: solid 1px var(--textColor);
    color: var(--textColor);
}

.img-upload-container input:nth-child(2),
.img-upload-container input:nth-child(3) {
    padding-left: 14px;
    font-size: 1rem;
    font-weight: 200;
}

.img-upload-container input:nth-child(1) {
    background: none;
    position: relative;
    padding-left: 4%;
    padding-top: 5px;
    color: gray;
    font-size: 0.8rem;
}
.img-upload-container input:nth-child(3) {
    height: 70px;
}

.img-upload-container input:nth-child(1)::-webkit-file-upload-button,
.img-upload-container input:nth-child(1)::file-selector-button {
    height: 25px;
    width: 90px;
    border: none;
    border-radius: 15px;
    background-color: var(--textColor);
    color: var(--backgroundColor);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
}

/* upload button */
.img-upload-container input:nth-child(4) {
    background-color: var(--textColor);
    color: var(--backgroundColor);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.img-upload-container input:nth-child(4):hover {
    background-color: gray;
    color: var(--textColor);
}

.form-error {
    color: red;
    margin: 10px;
    font-weight: 200;
    font-size: 0.9rem;
}

.img-upload-container .loading-spinner {
    height: 0;
    position: absolute;
    top: -90px;
}

.post-btn .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
    user-select: none;
}

.post-btn {
    color: var(--backgroundColor);
    background-color: var(--textColor);
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.post-btn:hover {
    background-color: var(--cardBackground);
    color: var(--textColor);
    border: 2px solid var(--textColor);
}

.rotate {
    transform: rotate(45deg);
}

.post-btn-container {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.feed-container {
    margin: auto;
    margin-top: 20px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    grid-gap: 1.6rem;
}

.card-container {
    height: 400px;
    position: relative;
    margin-bottom: 35px;
}
.card-img {
    width: 100%;
    height: 90%;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.card-img:hover {
    border: solid 2px white;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-desc {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-desc .creator-details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-desc .creator-details img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.card-desc .post-title {
    color: var(--textColor);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 7px 0;
}

.card-desc p {
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 300;
}

.heart span {
    position: absolute;
    bottom: 45px;
    left: 5px;
}
.heart .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
    /* transition: all 0.2s ease-in; */
}

.heart .material-symbols-outlined:hover {
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}

/* --- load more btn --- */

/* .load-more-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more-container button {
    height: 35px;
    margin: auto;
    width: 10%;
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-bottom: 40px;
    font-size: 1rem;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.load-more-container button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
    border: solid 1px white;
} */

.footer-container {
    margin-top: 30px;
    width: 100%;
    background-color: var(--cardBackground);
}

.footer {
    margin: auto;
    width: 95%;
    height: 40px;
    line-height: 40px;
}

.footer p {
    text-align: center;
    font-size: 0.75rem;
    user-select: none;
    color: var(--textColor);
}

